
.footer {
    padding: 15px 15px;
    background: linear-gradient(261.95deg, #4e6aea -18.21%, #7C2BFD 120.86%);
    position: fixed;
    bottom: 0;
    max-width: 1600px;
    width: 100%;
    border-radius: 10px;
}

.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}
